/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "montserrat", sans-serif;
}

body {
  background: linear-gradient(
    360deg, #5b2b6f, #8a3e8c, #b65d93
  );
  color: #fff;
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
  z-index: -1;
}

.container {
  width: 100%;
  max-width: 400px;
  text-align: center;
  padding: 20px;
}

.profile-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 15px;
  object-fit: cover;
  box-shadow: 10px 9px 27px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 10px 9px 27px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 10px 9px 27px 0px rgba(0, 0, 0, 0.5);
}

.name {
  font-size: 1.5rem;
  margin-bottom: 15px;
  font-weight: 600;
}

.description {
  font-size: 1rem;
  margin-bottom: 25px;
  color: #ccc;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.link-card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #b9839c, #e2b8c6);
  padding: 15px 40px;
  border-radius: 25px;
  color: #2a1b2f;
  text-decoration: none;
  font-size: 1rem;
  transition: all 0.3s ease;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
   border: 1px solid rgba(255,255,255,0.6);
 
}

.link-card .social.logos {
  position: absolute;
  left: 15px; 
  display: flex;
  align-items: center;
  opacity: 0.5;
}

.link-card .social.logos-2 {
  position: absolute;
  left: 10px; 
  display: flex;
  align-items: center;
  opacity: 0.5;
}

.link-card:hover {
  transform: scale(1.03);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
  background: linear-gradient(135deg, #e9c7d2, #f6dfe7);
  color: #5b2b6f;
    filter: brightness(1.05);

}

.link-card:hover .social.logos  {
  opacity: 1; 
  color: #fff;
  filter: invert(100%);
}

.link-card:hover .social.logos-2  {
  opacity: 1; 
  color: #fff;
  filter: invert(100%);
}

.social-buttons {
  display: flex;
  justify-content: center;
  gap: 16px; 
  margin-top: 20px; 
}

.footer-icon img {
  transition: transform 0.2s;
  opacity: 0.5;
  
}

.footer-icon:hover img {
  transform: scale(1.1);
  opacity: 1;
  filter: invert(100%);
  
}
